body {
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: right;
}

#button {
    background: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
    display: block;
    margin: auto;
}

#after_submit {
    visibility: hidden;
    background: #e83cdc;
    padding: 10px 20px 10px 20px;
            height: 370px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 30px;
}

#picture {
    width: 395px;
    height: 170px;
}

#mc {
    display: inline;
}
