.nav-list-item {
  display: inline;
}

.nav-list-block {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  align-items: end;
}

.title {
  color: blue;
  font-family: roboto;
  display: flex;
  gap: 25;
  align-items: end;
  
}

p {
  font-size: 1em;
  font-family: roboto;
}

.p1 {
  line-height: 2em;
  font-family: roboto;
  text-align: justify;
}

.p2 {
  line-height: 2em;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

.sp {
  line-height: 2em;
}

#Travail {
    background-color: aquamarine;
}
.page3 {
  color: blue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: center;
  gap: 25;
  align-items: center;
  background-color: aquamarine;
  
}

.p3 {
    line-height: 2em;
    font-family: roboto;
    text-align: justify;
    background-color: aquamarine;
}

.sp3 {
    line-height: 2em;
    background-color: aquamarine;
}

h1 {

    color: red;
    font-family: roboto;
    display: flex;
    gap: 25;
    align-items: end;
}
.contactez-nous {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
}
